Repository crmne/cluster-headache-tracker-ios: changes, and which pre-commit hooks are due for each by the changed paths.
All: swiftlint, swiftformat, check-xcode-project, check-plist

swiftlint:
  name: SwiftLint
  entry: swiftlint
  language: system
  args:
  - --strict

swiftformat:
  name: SwiftFormat
  entry: swiftformat
  language: system
  args:
  - --swiftversion
  - '5.9'

check-xcode-project:
  name: Check Xcode project file
  entry: plutil -lint
  language: system

check-plist:
  name: Check plist files
  entry: plutil -lint
  language: system

Simplify authentication state handling with complete app reset
  Cluster Headache Tracker/Extensions/HotwireTabBarController+Refresh.swift
  Cluster Headache Tracker/SceneController.swift
Due: swiftlint, swiftformat

Update unit test simulator to iPhone 16 (iPhone 15 no longer available)
  .pre-commit-config.yaml
Due: none

Load path configuration from server
  Cluster Headache Tracker/AppDelegate.swift
  Cluster Headache Tracker/path-configuration.json
Due: swiftlint, swiftformat

Bump app version to 2.0
  Cluster Headache Tracker.xcodeproj/project.pbxproj
Due: check-xcode-project

Added Honeybadger
  .env.example
  .gitignore
  Cluster Headache Tracker.xcodeproj/project.pbxproj
  Cluster Headache Tracker.xcodeproj/project.xcworkspace/xcshareddata/swiftpm/Package.resolved
  Cluster Headache Tracker/AppConfig.swift
  Cluster Headache Tracker/AppDelegate.swift
  Cluster Headache Tracker/Bridge/ButtonComponent.swift
  Cluster Headache Tracker/Info.plist
  Cluster Headache Tracker/SafeAreaWebViewController.swift
  Cluster Headache Tracker/SceneController.swift
  Scripts/README.md
  Scripts/load-env.sh
Due: swiftlint, swiftformat, check-xcode-project, check-plist

Clean room reimplementation using bridge components
  Cluster Headache Tracker.xcodeproj/project.pbxproj
  Cluster Headache Tracker.xcodeproj/project.xcworkspace/xcshareddata/swiftpm/Package.resolved
  Cluster Headache Tracker.xcodeproj/xcshareddata/xcschemes/Cluster Headache Tracker.xcscheme
  Cluster Headache Tracker/AppAppearance.swift
  Cluster Headache Tracker/AppConfig.swift
  Cluster Headache Tracker/AppDelegate.swift
  Cluster Headache Tracker/AppNotifications.swift
  Cluster Headache Tracker/AppTabBarController.swift
  Cluster Headache Tracker/Bridge/ButtonComponent.swift
  Cluster Headache Tracker/Bridge/CompatibleButtonComponent.swift
  Cluster Headache Tracker/Bridge/CompatibleShareComponent.swift
  Cluster Headache Tracker/Bridge/ShareComponent.swift
  Cluster Headache Tracker/Info.plist
  Cluster Headache Tracker/SafeAreaWebViewController.swift
  Cluster Headache Tracker/SceneController.swift
  Cluster Headache Tracker/Tabs.swift
  Cluster Headache Tracker/path-configuration.json
  Docs/CleanRoomArchitecture.md
Due: swiftlint, swiftformat, check-xcode-project, check-plist

Fixed stale originHash from Package.resolved
  Cluster Headache Tracker.xcodeproj/project.xcworkspace/xcshareddata/swiftpm/Package.resolved
  ci_scripts/ci_post_clone.sh
Due: none

Trying to fix CI
  Cluster Headache Tracker.xcodeproj/project.pbxproj
  Cluster Headache Tracker.xcodeproj/project.xcworkspace/xcshareddata/swiftpm/Package.resolved
  Cluster Headache Tracker/SceneController.swift
Due: swiftlint, swiftformat, check-xcode-project

Updated project
  .gitignore
  Cluster Headache Tracker.xcodeproj/project.pbxproj
Due: check-xcode-project

Only have a custom action on Sign Out
  Cluster Headache Tracker/AppDelegate.swift
  Cluster Headache Tracker/AppNotifications.swift
  Cluster Headache Tracker/Bridge/AppButtonComponent.swift
  Cluster Headache Tracker/SceneController.swift
Due: swiftlint, swiftformat

Revert "Only have a custom action on Sign Out"
  Cluster Headache Tracker/AppDelegate.swift
  Cluster Headache Tracker/AppNotifications.swift
  Cluster Headache Tracker/Bridge/CompatibleButtonComponent.swift
  Cluster Headache Tracker/SceneController.swift
Due: swiftlint, swiftformat

Derive iOS release versions from tags
  Cluster Headache Tracker.xcodeproj/project.pbxproj
  Cluster Headache Tracker/AppConfig.swift
  README.md
  Scripts/README.md
  Scripts/archive-release.sh
Due: swiftlint, swiftformat, check-xcode-project

Enable Copilot Triage for issues and human follow-ups
  .github/triage.yml
  .github/workflows/issue-assessment.yml
Due: none

Assess reports with Copilot Triage and show reply usage
  .github/triage.yml
  .github/workflows/issue-assessment.yml
Due: none

Follow Copilot Triage v0 releases
  .github/workflows/issue-assessment.yml
Due: none

Add account repository policy
  AGENTS.md
Due: none

Add account repository policy
  .github/copilot-instructions.md
Due: none

Add account repository policy
  .github/workflows/release-source.yml
Due: none

Remove ineffective standalone release check
  .github/workflows/release-source.yml
Due: none

Apply account repository policy (#1)
  .github/copilot-instructions.md
  AGENTS.md
Due: none

Apply account repository policy
  AGENTS.md
Due: none

Apply account repository policy (#4)
  AGENTS.md
Due: none

Apply account repository policy
  .github/triage.yml
  .github/workflows/board.yml
  .github/workflows/issue-assessment.yml
Due: none

Apply account repository policy (#5)
  .github/triage.yml
  .github/workflows/board.yml
  .github/workflows/issue-assessment.yml
Due: none

Apply account repository policy
  .github/workflows/board.yml
  .github/workflows/issue-assessment.yml
Due: none

Apply account repository policy (#6)
  .github/workflows/board.yml
  .github/workflows/issue-assessment.yml
Due: none

Apply account repository policy
  .github/triage.yml
  .github/workflows/board.yml
Due: none

Apply account repository policy (#7)
  .github/triage.yml
  .github/workflows/board.yml
Due: none

Update Hotwire Native, Bridge Components and Honeybadger, adopt Swift 6
  .pre-commit-config.yaml
  CLAUDE.md
  Cluster Headache Tracker.xcodeproj/project.pbxproj
  Cluster Headache Tracker.xcodeproj/project.xcworkspace/xcshareddata/swiftpm/Package.resolved
  Cluster Headache Tracker/AppAppearance.swift
  Cluster Headache Tracker/AppDelegate.swift
  Cluster Headache Tracker/Bridge/CompatibleButtonComponent.swift
  Cluster Headache Tracker/SceneController.swift
  Cluster Headache Tracker/Tabs.swift
  Docs/CleanRoomArchitecture.md
  README.md
Due: swiftlint, swiftformat, check-xcode-project

Adopt the current iOS look: Liquid Glass, large titles, Dynamic Type
  Cluster Headache Tracker.xcodeproj/project.pbxproj
  Cluster Headache Tracker/AppAppearance.swift
  Cluster Headache Tracker/AppConfig.swift
  Cluster Headache Tracker/AppDelegate.swift
  Cluster Headache Tracker/AppNotifications.swift
  Cluster Headache Tracker/AppTabBarController.swift
  Cluster Headache Tracker/Assets.xcassets/AccentColor.colorset/Contents.json
  Cluster Headache Tracker/Bridge/CompatibleButtonComponent.swift
  Cluster Headache Tracker/Localizable.xcstrings
  Cluster Headache Tracker/Navigation/NavigationController.swift
  Cluster Headache Tracker/Navigation/WebViewController.swift
  Cluster Headache Tracker/Navigation/WebViewFactory.swift
  Cluster Headache Tracker/SceneController.swift
  Cluster Headache Tracker/Tabs.swift
  Cluster Headache Tracker/path-configuration.json
Due: swiftlint, swiftformat, check-xcode-project

Make the Honeybadger key explicit and refresh the docs
  .env.example
  .gitignore
  CLAUDE.md
  Cluster Headache TrackerTests/Cluster_Headache_TrackerTests.swift
  Cluster Headache TrackerUITests/Cluster_Headache_TrackerUITests.swift
  Cluster Headache TrackerUITests/Cluster_Headache_TrackerUITestsLaunchTests.swift
  Configuration/App.xcconfig
  Configuration/Secrets.xcconfig.example
  Docs/CleanRoomArchitecture.md
  README.md
  Scripts/README.md
  Scripts/load-env.sh
  Shared/Localizable.xcstrings
  ci_scripts/ci_post_clone.sh
Due: swiftlint, swiftformat

Add widgets, a Live Activity, App Intents, quick actions and downloads
  Cluster Headache Tracker.xcodeproj/project.pbxproj
  Cluster Headache Tracker/AppConfig.swift
  Cluster Headache Tracker/AppDelegate.swift
  Cluster Headache Tracker/AppShortcuts.xcstrings
  Cluster Headache Tracker/Bridge/CompatibleButtonComponent.swift
  Cluster Headache Tracker/Bridge/DownloadComponent.swift
  Cluster Headache Tracker/Bridge/WidgetStatusComponent.swift
  Cluster Headache Tracker/Cluster Headache Tracker.entitlements
  Cluster Headache Tracker/Documents/DocumentPreviewer.swift
  Cluster Headache Tracker/Info.plist
  Cluster Headache Tracker/InfoPlist.xcstrings
  Cluster Headache Tracker/Navigation/WebViewController.swift
  Cluster Headache Tracker/SceneController.swift
  Cluster Headache Tracker/Shortcuts/AppShortcuts.swift
  Cluster Headache Tracker/Status/StatusSync.swift
  Cluster Headache Tracker/path-configuration.json
  Cluster Headache TrackerTests/DeepLinkTests.swift
  Cluster Headache TrackerTests/DocumentTests.swift
  Cluster Headache TrackerTests/NativeShellTests.swift
  Cluster Headache TrackerTests/WidgetStatusTests.swift
  Cluster Headache TrackerUITests/AppLaunchUITests.swift
  Shared/AttackActivityAttributes.swift
  Shared/AttackIntents.swift
  Shared/DeepLink.swift
  Shared/DeepLinkCenter.swift
  Shared/Localizable.xcstrings
  Shared/WidgetStatus.swift
  Shared/WidgetStatusStore.swift
  Widgets/Assets.xcassets/AccentColor.colorset/Contents.json
  Widgets/Assets.xcassets/Contents.json
  Widgets/AttackLiveActivity.swift
  Widgets/AttackStatusWidget.swift
  Widgets/Info.plist
  Widgets/LogAttackControl.swift
  Widgets/Widgets.entitlements
  Widgets/WidgetsBundle.swift
Due: swiftlint, swiftformat, check-xcode-project, check-plist

Cap web page zoom at 1.2 so pages don't clip at accessibility text sizes
  Cluster Headache Tracker/Navigation/WebViewFactory.swift
  Cluster Headache TrackerTests/NativeShellTests.swift
Due: swiftlint, swiftformat

Apply account repository policy
  .github/workflows/issue-assessment.yml
Due: none

Apply account repository policy (#8)
  .github/workflows/issue-assessment.yml
Due: none

Polish against the preview server: large titles, widget language, tour
  Cluster Headache Tracker/Bridge/WidgetStatusComponent.swift
  Cluster Headache Tracker/Documents/DocumentPreviewer.swift
  Cluster Headache Tracker/Navigation/NavigationController.swift
  Cluster Headache Tracker/Navigation/WebViewController.swift
  Cluster Headache Tracker/Status/StatusSync.swift
  Cluster Headache TrackerTests/WidgetStatusTests.swift
  Cluster Headache TrackerUITests/SignedInTourUITests.swift
  Shared/Localizable.xcstrings
  Shared/Localization.swift
  Shared/WidgetStatus.swift
  Widgets/AttackLiveActivity.swift
  Widgets/AttackStatusWidget.swift
Due: swiftlint, swiftformat

Handle button nativeAction and present medication forms as sheets
  CLAUDE.md
  Cluster Headache Tracker/Bridge/CompatibleButtonComponent.swift
  Cluster Headache Tracker/path-configuration.json
  Cluster Headache TrackerTests/ButtonComponentTests.swift
Due: swiftlint, swiftformat

Apply account repository policy
  .coderabbit.yaml
Due: none

Path conditions:
  swiftlint: any of: \.swift$
  swiftformat: any of: \.swift$
  check-xcode-project: any of: project\.pbxproj$
  check-plist: any of: \.plist$
